@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  /* Cores */
  --color-white: hsl(0, 0%, 100%);
  --color-slate-300: hsl(212, 45%, 89%);
  --color-slate-500: hsl(216, 15%, 48%);
  --color-slate-900: hsl(218, 44%, 22%);

  /* Tipografia */
  --font-family: 'Outfit', sans-serif;
  --font-size-paragraph: 15px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Viewports de Design */
  --width-mobile: 375px;
  --width-desktop: 1440px;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: var(--font-family);
}
.card {
  background-color: var(--color-slate-300);
  font-size: var(--font-size-paragraph);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}
.item {
  background-color: var(--color-white);
  padding: 16px;
  max-width: 320px;
  border-radius: 20px;
  box-shadow: 0 25px 40px rgba(0, 0, 0, 0.05);
}
div.imagem {
  display: block;
  width: 100%;
  border-radius: 10px;
}
div.conteudo {
  padding: 24px 12px;
}
div.conteudo h1 {
  color: var(--color-slate-900);
  margin-bottom: 10px;
  line-height: 1.3em;
  font-weight: var(--font-weight-bold);
  font-size: 22px;
}
div.conteudo p {
  color: var(--color-slate-500);
  font-weight: var(--font-weight-regular);
  line-height: 1.4em;
  font-size: 15px;

}